.castaway-list-container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    gap: 1rem;
}

.draggable-table {
    max-width: 100vw;
    overflow-x: hidden;
    border: 2px solid black;
    position: relative;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    @media (min-width: 640px) {
        border-radius: 0.5rem;
    }
}

.castaway-table {
    font-size: medium;
    text-align: left;
    transition: all;
    transition-timing-function: linear;
    transition-duration: 200ms;
    border-collapse: collapse;
}

.castaway-table th {
    background-color: black;
    color: white;
    padding: .75rem;
    overflow: hidden;
    text-align: center;
    font-size: large;
}

.castaway-table tr:hover {
    background-color: snow;
}

.castaway-table td {
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
}

.castaway-table a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: black;
    text-decoration: none;
}

.castaway-table img {
    width: 4rem;
}

@media only screen and (max-width: 750px) {
    .aux-info {
        display: none;
    }
}

.isDragging-true {
    background-color: snow;
}

.isDraggingOver-true {
    background-color: lightgray;
}

.tribe-color {
    --tribeColor: "white";
    background-color: var(--tribeColor);
}

.bg-ff4148 {
    background-color: #ff4148;
}

.bg-4caae6 {
    background-color: #4caae6;
}

.bg-fcdd31 {
    background-color: #fcdd31;
}

.bg-85BC54 {
    background-color: #85BC54;
}

.bg-BA5DB6 {
    background-color: #BA5DB6;
}

.bg-F09B26 {
    background-color: #F09B26;
}

.bg-049ed9 {
    background-color: #049ed9;
}

.bg-d05dbd {
    background-color: #d05dbd;
}

.bg-a7f084 {
    background-color: #a7f084;
}

.bg-feb635 {
    background-color: #feb635;
}

.copy-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.copy-button {
    padding: 1rem 2rem;
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 2px #999;
    transition: all 50ms;
}

.copy-button:hover {
    background-color: #ab67ea;
}

.copy-button:active {
    background-color: #ab67ea;
    transform: translateY(2px);
    box-shadow: none;
}

.copy-button:not(:active)+.copy-span {
    animation: fade-entry 3s linear;
}

@keyframes fade-entry {

    0% {
        color: green;
    }

    75% {
        color: green;
    }

    100% {
        color: white;
    }

}
